<ng-container *ngIf="isLoad; then thenTemplate; else elseTemplate"></ng-container>
<ng-template #thenTemplate>
  <div class="container">
    <div style="text-align: right">
      <button type="button"
              (click)="reset()"
              class="btn btn-outline-danger">Resetear</button>
    </div>

    <div class="my-3 p-3 bg-white rounded box-shadow">
      <h6 class="border-bottom border-gray pb-2 mb-0">Usuarios</h6>
      <div class="media text-muted pt-3"
           *ngFor="let user of users">
        <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1"
             alt=""
             class="mr-2 rounded">
        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <!-- itmes -->
          <div class=" w-100 flex-user ">
            <div class="chip">
              <img class=""
                   *ngIf="user.imgURL"
                   [src]="user.imgURL">
              <div class="chip-children">
                {{user.name}}
              </div>


            </div>
            <i class="fas fa-angle-double-right fa-3x chip-i"
               *ngIf="user.friendId && user.friendId !== '' && user.friendId !== ' ' "></i>
            <!-- asignado -->
            <div *ngIf="user.friend"
                 class="chip">
              <img class=""
                   *ngIf="user.friend.imgURL"
                   [src]="user.friend.imgURL">
              <div class="chip-children">
                {{user.friend.name}}
              </div>


            </div>
            <div class="flex-button">
              <button type="button"
                      *ngIf="!(user.friendId && user.friendId !== '' && user.friendId !== ' ' )"
                      (click)="goToGame(user.id)"
                      class="btn btn-primary btn-sm">Asignar</button>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</ng-template>
<ng-template #elseTemplate>
  <div class="container w-25">
    <app-general-spinner></app-general-spinner>
  </div>
</ng-template>
