<ng-container *ngIf="isLoad; then thenTemplate; else elseTemplate"></ng-container>
<ng-template #thenTemplate>

  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center animated fadeIn"
       *ngIf="onlyShow">
    <img *ngIf="user && user.imgURL"
         class="rounded-circle"
         [src]="user.imgURL"
         alt="Generic placeholder image"
         width="140"
         height="140">
    <h3 class="display-4">{{user.name}} {{user.lastName}}</h3>
    <h5><span class="badge badge-secondary">Lista de
        Regalos</span></h5>
  </div>

  <div class="container">
    <h2>{{!onlyShow ? 'Mi lista de Regalos' : ''
      }}</h2>
    <div class="card-deck mb-3 text-center">
      <!-- regalos -->

      <!-- demo -->

      <div *ngFor="let num of numbers"
           [hidden]="(onlyShow && !user.gifts[num])"
           class="card mb-4 box-shadow animated fadeIn"
           [ngClass]="{'bg-secondary text-white': !user.gifts[num],
            ' text-black': user.gifts[num]}">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Deseo {{num +
            1}}</h4>
        </div>

        <div class="card-body   center-items">
          <img src="https://firebasestorage.googleapis.com/v0/b/vleeko-5fdf6.appspot.com/o/gift%20(1).png?alt=media&token=341e3ad2-3bdf-4fe0-acd5-5980be40c56b"
               width="140"
               height="140">
          <h3 class="card-title pricing-card-title">{{!user.gifts[num]
            ? 'Registra un regalo' : user.gifts[num].name
            }}
          </h3>
          <div class="list-unstyled mt-3 mb-4">
            <p>{{!user.gifts[num]
              ? 'Aquí puedes anotar una opción de regalo' :
              user.gifts[num].description }}</p>
          </div>
          <div style="width: 100%">
            <button type="button"
                    *ngIf="!onlyShow && !user.gifts[num]"
                    (click)="goToGiftNew(num)"
                    class="mt-auto btn btn-primary">Agregar</button>
            <button type="button"
                    *ngIf="!onlyShow && user.gifts[num]"
                    (click)="goToGiftEdit(num)"
                    class="mt-auto btn btn-secondary mr-1">Editar</button>
            <button type="button"
                    *ngIf="!onlyShow && user.gifts[num]"
                    (click)="deleteGift(num)"
                    class="mt-auto btn btn-outline-danger">Borrar</button>
          </div>

        </div>
      </div>

    </div>
  </div>
</ng-template>
<ng-template #elseTemplate>
  <div class="container w-25">
    <app-general-spinner></app-general-spinner>
  </div>

</ng-template>
