<!-- <nav class="navbar sticky-top navbar-dark bg-dark ">
  <a class="navbar-brand"
     [routerLink]="['/login']">Vleeko</a>

  <ul *ngIf="islogin"
      class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link active"
         [routerLink]="['/panel']">Panel</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         [routerLink]="['/gift']">Regalos</a>
    </li>
  </ul>
  <div class="form-inline my-2 my-lg-0">

    <button *ngIf="islogin"
            class="btn btn-outline-success my-2 my-sm-0"
            (click)="logout()"
            type="submit">Salir</button>
  </div>
</nav> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand text-white">Vleeko</a>
  <button class="
     navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed"
          aria-controls="collapseExample"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse"
       [ngbCollapse]="isCollapsed"
       id="navbarSupportedContent">
    <ul *ngIf="islogin"
        class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link"
           [ngClass]="{'active':link === '/panel'}"
           [routerLink]="['/panel']">Panel</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           [ngClass]="{'active':link === '/gift'}"
           [routerLink]="['/gift']">Regalos</a>
      </li>
      <li class="nav-item"
          *ngIf="user.userName === 'accp81' || user.userName === 'rpea61'">
        <a class="nav-link"
           [ngClass]="{'active':link === '/user-list'}"
           [routerLink]="['/user-list']">Usuarios</a>
      </li>
    </ul>
    <button *ngIf="islogin"
            class="btn btn-outline-success my-2 my-sm-0"
            (click)="logout()">Salir</button>
  </div>
</nav>

<br>
<br>
<router-outlet></router-outlet>
